<!-- home.html -->

{% extends 'website/layout.html' %}

{% block main %}
    <h3>Poema 1</h3>
    <p>It was in the dark that the old moon shone &ndash; By day it hid.</p>

    <p>Snuck behind the trees in its still, slow journey, I wondered how the world turned &#8230; You could sharpen a knife on the gathering frost, Take home pocketfuls of stars for sweets, Stretch your ears to the wild shores in the silence.</p>
    
    <p>It was just a moment, too deep to understand: All I had was the moon, Making its slow journey.</p>
{% endblock %}